/*
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;1,400&display=swap');

/*------------Reset------------
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif !important;
    color: #182145;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/*------------Header------------
header {
    display: flex;
    background-color: white;
    position: sticky;
    align-items: center;
    flex-direction: column;
    font-size: 22px;
    color: #182145;
    margin-bottom: 10px;
}

header nav ul {
    display: flex;
}

header nav ul li {
    display: flex;
    margin: 12px;
}

header nav a img {
    width: 150px;
    height: 150px;
}
.navbar-toggler{
    color: #182145 !important;
    border-color: #182145 !;
}
    


/*------------weare------------
.weare {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px;
}

.weare__img {

    width: 100%;
    height: 100%;
}

.weare__titulo {
    color: #182145;
    font-size: 60px;
    margin-top: 40px;
}

/*------------productos------------
.productos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.producto__img {
    height: 433px;
    width: 433px;
}

.productos__titulo {
    display: flex;
    justify-content: center;
    margin: 5%;
    font-size: 40px;
}

.producto {
    vertical-align: text-bottom;
    text-align: center;
    box-shadow: 10px 11px 20px -3px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 11px 20px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 11px 20px -3px rgba(0, 0, 0, 0.75);
}

.productos__texto {
    font-size: 18px;
}

/*------------categorias------------
.categorias {
    display: grid;
    grid-template-columns: 638.50px 638.50px;
    grid-template-rows: 432px 216px 300px;
    column-gap: 20px;
    row-gap: 20px;
    justify-content: center;
    object-fit: cover;
}

.categorias__titulo {
    display: grid;
    justify-content: center;
    margin: 8%;
    font-size: 40px;
}

.categorias__texto {
    font-size: 50px;
    position: absolute;
    color: white;
    background-color: rgba(0, 0, 0, 0.411);
}

.categorias__img1 {
    height: 432px;
    width: 638.50px;
}

.categorias__img2 {
    height: 432px;
    width: 638.50px;
}

.categorias__img3 {
    height: 432px;
    width: 1298px;
}

/*------------somos------------
.somos__titulo {
    display: flex;
    justify-content: center;
    margin: 2%;
    padding: 3%;
    font-size: 40px;
}

.somos__texto {
    display: flex;
    justify-content: center;
    font-size: 25px
}

/*------------footer------------
footer {
    width: 100%;
    padding: 50px 0px;
}

.padre {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 80px;
}

.footer__caja {
    display: flex;
    flex-direction: column;
    padding: 40spx;
}

.footer__titulo {
    margin-bottom: 30px;
    font-size: 30px;
}

.footer__caja ul li p:hover {
    opacity: 0.8;
}

.footer__caja ul li img:hover {
    opacity: 0.8;
}

.footer__copy {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.footer__copy p {
    margin-top: 20px;

}

.footer__copy hr {
    border: none;
    height: 2px;
    background-color: #182145;
}

/*------------Contacto------------/
.contacto__titulo {
    display: flex;
    justify-content: center;
    margin: 8%;
    font-size: 40px;
}

.contacto__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.consulta {
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


.contacto__img {
    box-shadow: 10px 11px 20px -3px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 11px 20px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 11px 20px -3px rgba(0, 0, 0, 0.75);

}

/*------------Nosotros------------
.nosotros__titulo {
    display: flex;
    justify-content: center;
    margin: 8%;
    font-size: 40px;
}

.nosotros {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.nosotros__texto {
    width: 40%;
    font-size: 30px;
}

.nosotros__img {
    box-shadow: 10px 11px 20px -3px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 11px 20px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 11px 20px -3px rgba(0, 0, 0, 0.75);
}

.showroom__titulo {
    display: flex;
    justify-content: center;
    margin: 8%;
    font-size: 40px;
}

.showroom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.showroom__img {
    height: 600px;
    width: 500px;
    box-shadow: 10px 11px 20px -3px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 11px 20px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 11px 20px -3px rgba(0, 0, 0, 0.75);
}

.encontranos__contenedor {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 80px;
}

.encontranos__img {
    height: 600px;
    width: 1000px;
    box-shadow: 10px 11px 20px -3px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 11px 20px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 11px 20px -3px rgba(0, 0, 0, 0.75);
}

.texto__contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
}

/*------------Ayuda------------
.ayuda__contenedor {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 8px;
    text-align: center;
}

.ayuda__titulo {
    color: #182145;
    font-size: 28px;
    margin-bottom: 20px;
}

.ayuda__formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ayuda__mensaje {
    width: 300px;
    height: 150px;
    resize: none;
    padding: 10px;
    margin-bottom: 20px;
}

.ayuda__boton {
    background-color: #182145;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}



/* MEDIA QUERIS 


/* ARREGLO DE MEDIA QUERIS 
@media screen and (min-width: 601px) and (max-width: 900px) {
    .weare__titulo {
        font-size: 50px;
        margin-top: 30px;
    }
}


@media screen and (min-width: 901px) {
    .weare__titulo {
        font-size: 60px;
        margin-top: 40px;
    }
}

@media screen and (max-width: 600px) {
    .nosotros__titulo {
        font-size: 30px;
        margin: 4%;
    }

    .nosotros {
        flex-direction: column;
        align-items: center;
    }

    .nosotros__texto {
        width: 80%;
        font-size: 20px;
    }

    .showroom__titulo {
        font-size: 30px;
        margin: 4%;
    }

    .showroom {
        flex-direction: column;
        align-items: center;
    }

    .showroom__img {
        height: 400px;
        width: 80%;
    }
}


@media screen and (min-width: 601px) and (max-width: 900px) {
    .nosotros__titulo {
        font-size: 35px;
        margin: 6%;
    }

    .nosotros__texto {
        width: 50%;
        font-size: 25px;
    }

    .showroom__titulo {
        font-size: 35px;
        margin: 6%;
    }

    .showroom__img {
        height: 500px;
        width: 400px;
    }
}

@media screen and (min-width: 901px) {
    .nosotros__titulo {
        font-size: 40px;
        margin: 8%;
    }

    .nosotros__texto {
        width: 40%;
        font-size: 30px;
    }

    .showroom__titulo {
        font-size: 40px;
        margin: 8%;
    }

    .showroom__img {
        height: 600px;
        width: 500px;
    }
}

/* media queris para pantallas mas pequeñas
@media screen and (max-width: 768px) {

    /* estilos para Contacto 
    .contacto__container {
        flex-direction: column;
        align-items: center;
    }

    .consulta {
        margin-bottom: 50px;
        margin-right: 0;
    }

    .contacto__img {
        margin-bottom: 30px;
    }


    /* estilos para el Footer 
    .footer__caja {
        padding: 20px;
    }

    .footer__titulo {
        font-size: 25px;
    }

    /* estilos para Ayuda 
    .ayuda__contenedor {
        padding: 20px;
    }

    .ayuda__titulo {
        font-size: 24px;
    }

    .ayuda__mensaje {
        width: 100%;
    }

    /* estilos para Nosotros
    .encontranos__img {
        height: auto;
        width: 100%;
    }

    .encontranos__contenedor {
        flex-direction: column;
        margin-top: 40px;
    }


    /* estilos para Categorias 
    .categorias__titulo {
        font-size: 30px;
    }

    .categorias__texto {
        font-size: 40px;
    }

    .categorias {
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }

    .categorias__img1,
    .categorias__img2,
    .categorias__img3 {
        width: 100%;
        height: auto;
    }

/* Estilos para Productos 
    .productos {
        flex-direction: column;
    }

    .producto__img {
        height: auto;
        width: 100%;
    }

    .productos__titulo {
        font-size: 35px;
        margin: 4%;
    }

    /* estilos para Somos 
    .somos__titulo {
        font-size: 35px;
        margin: 1.5%;
        padding: 2.5%;
    }

    .somos__texto {
        font-size: 20px;
    }
}

/* media queris para pantallas mas pequeñas
@media screen and (max-width: 480px) {


    /* Estilos para el Footer 
    .footer__titulo {
        font-size: 20px;
    }

    /* Estilos para Ayuda 
    .ayuda__contenedor {
        padding: 10px;
    }

    .ayuda__titulo {
        font-size: 20px;
    }

    /* Estilos para Contacto 
    .contacto__container {
        flex-direction: column;
        align-items: center;
    }

    .consulta {
        margin-bottom: 30px;
        margin-right: 0;
    }

    .contacto__img {
        margin-bottom: 20px;
        text-align: center;
    }


    /* Estilos para Categorias 

    .categorias__texto {
        font-size: 40px;
    }

    .categorias {
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }

    .categorias__img1,
    .categorias__img2,
    .categorias__img3 {
        height: 300px;
        width: 100%;
    }

    .categorias__titulo {
        font-size: 30px;
        margin: 3%;
    }

    /* Estilos para Somos 

    .somos__titulo {
        font-size: 30px;
        margin: 1%;
        padding: 2%;
    }

    .somos__texto {
        font-size: 20px;
    }
}

/* Estilos para dispositivos de pantalla mediana y grande 
@media screen and (min-width: 768px) {


    /* Estilos para  Contacto 
    .contacto__container {
        justify-content: center;
    }

    .consulta {
        margin-bottom: 0;
        margin-right: 50px;
    }

    /* Estilos para Nosotros
    .encontranos__img {
        height: 600px;
        width: 500px;
    }

    .encontranos__contenedor {
        margin-top: 80px;
    }

    /* Estilos para  Categorias 
    .categorias__titulo {
        font-size: 40px;
    }

    .categorias__texto {
        font-size: 50px;
    }

    .categorias {
        grid-template-columns: 638.50px 638.50px;
        grid-template-rows: 432px 216px 300px;
    }

    .categorias__img1,
    .categorias__img2 {
        width: 638.50px;
        height: 432px;
    }

    .categorias__img3 {
        width: 1298px;
        height: 432px;
    }

/* Estilos para Productos 
    .productos {
        flex-direction: row;
    }

    .producto__img {
        height: 433px;
        width: 433px;
    }

    .productos__titulo {
        font-size: 40px;
    }

    /* Estilos para Somos 

    .somos__titulo {
        font-size: 40px;
        margin: 2%;
        padding: 3%;
    }

    .somos__texto {
        font-size: 25px;
    }
}