header{
    @include flex (flex, none, center);
    background-color: $color__secundario;
    position: sticky;
    flex-direction: column;
    font-size: 22px;
    color: $color__principal;
    nav{
    .container-fluid{
        .navbar-brand{
            img{
                width: 150px;
                height: 150px;
            }
        }
        .navbar-toggler{
            color: $color__principal;
            border-color: $color__principal;
        }
    }
}
    div{
    ul{
        display:flex ;
        li{
            display: flex;
            margin: 12px;
        }
    }
}
}