@media screen and (max-width: 1380px){
    .weare {
        flex-direction: column;
        margin: 10%;
    
        .weare__img {
            width: 80%;
            
        }
    
        .weare__titulo {
            font-size: 200%;
            margin-top: 2%;
        }
    }
    .productos__titulo{ 
        font-size: 250%;
        margin: 4%;
    }
    .productos{
        flex-direction: row;
        .producto{
            .productos__texto{
                font-size: 125%;
            }
            .producto__img{
                height: 350px;
                width: 350px;
                margin: 5px;
                padding: 10px;
            }
        }
    }
    
    .categorias{
        @include flex (flex, space-around, center);
        flex-direction: column;
            .indumentaria{
                .categorias__texto{
                    font-size: 250%;
                }
                .categorias__img1{
                height: 400px;
                width: 800px;
            }
            }
            .calzado{
                .categorias__texto{
                    font-size: 250%;
                }
                .categorias__img2{
                    height: 400px;
                    width: 800px; 
                }
            }
            
            .accesorios{
                .categorias__texto{
                    font-size:250% ;
                }
                .categorias__img3{
                    height: 400px;
                    width: 800px;
                }
            }
            
    }
    .somos{
        .somos__titulo{
            margin-top: 15%;
        }
    }

    section{
        .nosotros__titulo{
            font-size: 218.75%;
        }
        .nosotros{
            .nosotros__img{
                height: 600px;
                width: 420px;
            }
            .nosotros__texto{
                font-size: 135%;
                margin-left: 50px;
            }
        }
    }
    section{
        .showroom__titulo{
            font-size: 218.75%;
        }
        .contenedor__sub{
        .showroom__sub{
            font-size: 135%;
            }
        }
        .showroom{
            .showroom__img{
                height: 500px;
                width: 400px;
            }
        }
    }
    section{
        .encontranos__contenedor{
            .encontranos__img{
                height: 400px;
                width: 600px;
            }
        }
    }
}
@media screen and (max-width: 1200px){
    .padre{
        .footer__caja{
            .footer__titulo{
                margin-bottom: 25px;
                font-size: 22px;
            }
        }     
        .footer__caja{
            .footer__titulo{
                margin-bottom: 25px;
                font-size: 22px;
            }
        }
        .footer__caja{
            .footer__titulo{
                margin-bottom: 25px;
                font-size: 22px;
            }
            .pago{
                height:190px ;
                width: 350px;
            }
        }
        .footer__ig{
            img{
                width: 44px;
                height: 44px;
            }
        }
    }
}

@media screen and (max-width: 1090px){
    .productos__titulo{ 
        font-size: 200%;
        margin: 20px;
    }
    .productos{
        flex-direction: column;
        margin: 5px;
        .producto{
            justify-content: center;
            
            .productos__texto{
                font-size: 180%;
                margin-top: 50px;
            }
            .producto__img{
                height: 290px;
                width: 290px;
            }
        }
    }

    section{
        .showroom__titulo{
            font-size: 210%;
        }
        .contenedor__sub{
        .showroom__sub{
            font-size: 130%;
            }
        }
        .showroom{
            .showroom__img{
                height: 400px;
                width: 300px;
            }
        }
    }

    .contacto__titulo{ 
        font-size: 210%;
    }
    .contacto__container{
        .consulta{
            .consulta__titulo{
                font-size: 130%
            }
        }
    }
}
@media screen and (max-width: 950px){
    .padre{
        .footer__caja{
            .footer__titulo{
                margin-bottom: 20px;
                font-size: 15px;
            }
        }     
        .footer__caja{
            .footer__titulo{
                margin-bottom: 20px;
                font-size: 15px;
            }
        }
        .footer__caja{
            .footer__titulo{
                margin-bottom: 20px;
                font-size: 15px;
            }
            .pago{
                height: 150px;
                width: 290px;
            }
        }
        .footer__ig{
            img{
                width: 30px;
                height: 30px;
            }
        }
    }

    section{
        .nosotros__titulo{
            font-size: 200%;
        }
        .nosotros{
            .nosotros__img{
                height: 550px;
                width: 390px;
            }
            .nosotros__texto{
                font-size: 125%;
                margin-left: 50px;
            }
        }
    }
    section{
        .showroom__titulo{
            font-size: 205%;
        }
        .contenedor__sub{
        .showroom__sub{
            font-size: 125%;
            }
        }
        .showroom{
            flex-direction: column;
            .showroom__img{
                height: 400px;
                width: 300px;
                margin-left: 60px;
            }
        }
    }
    section{
        .encontranos__contenedor{
            .encontranos__img{
                height: 400px;
                width: 600px;
            }
        }
        .texto-contenedor{
            .encontranos__titulo{
                font-size: 80%
            }
            .encontranos__texto{
                font-size: 70%
            }
        }
    }
    
    main{
        .contacto__titulo{ 
            font-size: 210%;
        }
        .contacto__container{
            .contacto__img{
                img{
                    height: 750px;
                    width: 500px;
                }
            }
            .consulta{
                .consulta__titulo{
                    font-size: 125%
                }
            }
        }
    }
}
@media screen and (max-width: 880px){
    .padre{
        flex-direction: column;
        .footer__caja{
            .footer__titulo{
                margin-bottom: 15px;
                font-size: 10px;
            }
        }     
        .footer__caja{
            .footer__titulo{
                margin-bottom: 15px;
                font-size: 10px;
            }
        }
        .footer__caja{
            .footer__titulo{
                margin-bottom: 15px;
                font-size: 10px;
            }
            .pago{
                height: 115px;
                width: 250px;
            }
        }
        .footer__ig{
            img{
                width: 25px;
                height: 25px;
            }
        }
    }
}
@media screen and (max-width: 800px){
    .categorias{
            .indumentaria{
                .categorias__texto{
                    font-size: 170%;
                }
                .categorias__img1{
                height: 250px;
                width: 650px;
            }
            }
            .calzado{
                .categorias__texto{
                    font-size: 170%;
                }
                .categorias__img2{
                    height: 250px;
                    width: 650px; 
                }
            }
            
            .accesorios{
                .categorias__texto{
                    font-size: 170% ;
                }
                .categorias__img3{
                    height: 250px;
                    width: 650px;
                }
            }
            
    }

    section{
        .nosotros__titulo{
            font-size: 200%;
        }
        .nosotros{
            .nosotros__img{
                height: 500px;
                width: 350px;
            }
            .nosotros__texto{
                font-size: 120%;
                margin-left: 30px;
            }
        }
    }
    section{
        .encontranos__contenedor{
            .encontranos__img{
                height: 200px;
                width: 400px;
            }
        }
        .texto-contenedor{
            .encontranos__titulo{
                font-size: 70%
            }
            .encontranos__texto{
                font-size: 50%
            }
        }
    }

    main{
        .contacto__titulo{ 
            font-size: 210%;
        }
        .contacto__container{
            flex-direction: column-reverse;
            .contacto__img{
                img{
                    height: 750px;
                    width: 500px;
                }
            }
            .consulta{
                .consulta__titulo{
                    font-size: 125%;
                }
                .contacto__form{
                    font-size: 16px;
                }
            }
        }
    }
}
@media screen and (max-width: 650px){
    .categorias{
        .indumentaria{
            .categorias__texto{
                font-size: 150%;
            }
            .categorias__img1{
            height: 180px;
            width: 590px;
        }
        }
        .calzado{
            .categorias__texto{
                font-size: 150%;
            }
            .categorias__img2{
                height: 180px;
                width: 590px; 
            }
        }
        
        .accesorios{
            .categorias__texto{
                font-size: 150% ;
            }
            .categorias__img3{
                height: 180px;
                width: 590px;
            }
        }
        
    }

    section{
        .nosotros__titulo{
            font-size: 200%;
        }
        .nosotros{
            .nosotros__img{
                height: 475px;
                width: 325px;
            }
            .nosotros__texto{
                font-size: 120%;
                margin-left: 50px;
            }
        }
    }
}
@media screen and (max-width: 580px){
    .productos{
        .producto{
            .productos__texto{
                font-size: 110%;
            }
        }
    }
    .categorias{
        .indumentaria{
            .categorias__texto{
                font-size: 100%;
            }
            .categorias__img1{
            height: 250px;
            width: 520px;
        }
        }
        .calzado{
            .categorias__texto{
                font-size: 100%;
            }
            .categorias__img2{
                height: 250px;
                width: 520px; 
            }
        }
        
        .accesorios{
            .categorias__texto{
                font-size: 100% ;
            }
            .categorias__img3{
                height: 250px;
                width: 520px;
            }
        }
    }

    section{
        .nosotros__titulo{
            font-size: 200%;
        }
        .nosotros{
            .nosotros__img{
                height: 450px;
                width: 310px;
            }
            .nosotros__texto{
                margin-left: 50px;
                font-size: 110%;
            }
        }
    }
}
@media screen and (max-width: 510px){
    .productos{
        .producto{
            .productos__texto{
                font-size: 110%;
            }
        }
    }
    .categorias{
        .indumentaria{
            .categorias__texto{
                font-size: 100%;
            }
            .categorias__img1{
            height: 240px;
            width: 470px;
        }
        }
        .calzado{
            .categorias__texto{
                font-size: 100%;
            }
            .categorias__img2{
                height: 240px;
                width: 470px; 
            }
        }
        
        .accesorios{
            .categorias__texto{
                font-size: 100% ;
            }
            .categorias__img3{
                height: 240px;
                width: 470px;
            }
        }
    }

    section{
        .encontranos__contenedor{
            .encontranos__img{
                height: 300px;
                width: 300px;
            }
        }
        .texto-contenedor{
            .encontranos__titulo{
                font-size: 70%
            }
            .encontranos__texto{
                font-size: 50%
            }
        }
    }

    main{
        .contacto__titulo{ 
            font-size: 190%;
        }
        .contacto__container{
            flex-direction: column-reverse;
            .contacto__img{
                img{
                    height: 600px;
                    width: 400px;
                }
            }
            .consulta{
                .consulta__titulo{
                    font-size: 120%;
                }
                .contacto__form{
                    font-size: 15px;
                }
            }
        }
    }
}
@media screen and (max-width: 472px){
    .productos{
        .producto{
            .productos__texto{
                font-size: 110%;
            }
        }
    }
    .categorias{
        .indumentaria{
            .categorias__texto{
                font-size: 100%;
            }
            .categorias__img1{
            height: 180px;
            width: 380px;
        }
        }
        .calzado{
            .categorias__texto{
                font-size: 100%;
            }
            .categorias__img2{
                height: 180px;
                width: 380px; 
            }
        }
        
        .accesorios{
            .categorias__texto{
                font-size: 100% ;
            }
            .categorias__img3{
                height: 180px;
                width: 380px;
            }
        }
    }

    section{
        .nosotros__titulo{
            font-size: 200%;
        }
        .nosotros{
            .nosotros__img{
                height: 430px;
                width: 285px;
                margin-left: 40px;
            }
            .nosotros__texto{
                margin-left: 40px;
                font-size: 90%;
            }
        }
    }
    section{
        .encontranos__contenedor{
        flex-direction: column-reverse;
            .encontranos__img{
                height: 300px;
                width: 300px;
            }
        }
        .texto-contenedor{
            .encontranos__titulo{
                font-size: 70%
            }
            .encontranos__texto{
                font-size: 50%
            }
        }
    }
}
@media screen and (max-width: 405px){
    .productos__titulo{ 
        font-size: 120%;
        margin: 16px;}
    .productos{
        .producto{
            .productos__texto{
                font-size: 180%;
                margin-top: 40px;
            }
            .producto__img{
                height: 230px;
                width: 230px;
            }
        }
    }
}
@media screen and (max-width: 400px){
    .weare {
        .weare__titulo {
            font-size: 120%;
            margin-top: 2%;
        }
    }
}
@media screen and (max-width: 380px){
    .productos{
        .producto{
            .productos__texto{
                font-size: 110%;
            }
        }
    }
    .categorias__titulo{
        font-size: 120%;
    }
    .categorias{
        align-items: center;
        .indumentaria{
            .categorias__texto{
                font-size: 100%;
            }
            .categorias__img1{
            height: 130px;
            width: 300px;
        }
        }
        .calzado{
            .categorias__texto{
                font-size: 100%;
            }
            .categorias__img2{
                height: 130px;
                width: 300px; 
            }
        }
        
        .accesorios{
            .categorias__texto{
                font-size: 100% ;
            }
            .categorias__img3{
                height: 130px;
                width: 300px;
            }
        }
    }

    section{
        .nosotros__titulo{
            font-size: 200%;
        }
        .nosotros{
            .nosotros__img{
                height: 400px;
                width: 260px;
                margin-left: 30px;
            }
            .nosotros__texto{
                margin-left: 30px;
                font-size: 90%;
            }
        }
    }

    main{
        .contacto__titulo{ 
            font-size: 175%;
        }
        .contacto__container{
            flex-direction: column-reverse;
            .contacto__img{
                img{
                    height: 450px;
                    width: 250px;
                }
            }
            .consulta{
                .consulta__titulo{
                    font-size: 118%;
                }
                .contacto__form{
                    font-size: 14px;
                }
            }
        }
    }
}

@media screen and (max-width: 300px){
    .categorias{
        .indumentaria{
            .categorias__texto{
                font-size: 70%;
            }
            .categorias__img1{
            height: 150px;
            width: 220px;
        }
        }
        .calzado{
            .categorias__texto{
                font-size: 70%;
            }
            .categorias__img2{
                height: 150px;
                width: 220px; 
            }
        }
        
        .accesorios{
            .categorias__texto{
                font-size: 70% ;
            }
            .categorias__img3{
                height: 150px;
                width: 220px;
            }
        }
    }

    section{
        .encontranos__contenedor{
        flex-direction: column-reverse;

            .encontranos__img{
                height: 250px;
                width: 250px;
            }
        }
        .texto-contenedor{
            .encontranos__titulo{
                font-size: 70%
            }
            .encontranos__texto{
                font-size: 45%;
                text-align: center;
            }
        }
    }
}
@media screen and (max-width: 245px){
    .productos__titulo{ 
        font-size: 80%;
        margin: 10px;}
    .productos{
        .producto{
            .productos__texto{
                font-size: 110%;
                margin-top: 25px;
            }
            .producto__img{
                height: 120px;
                width: 120px;
            }
        }
    }
}
@media screen and (max-width: 245px){
    .categorias{
        .indumentaria{
            .categorias__texto{
                font-size: 60%;
            }
            .categorias__img1{
            height: 155px;
            width: 180px;
        }
        }
        .calzado{
            .categorias__texto{
                font-size: 60%;
            }
            .categorias__img2{
                height: 155px;
                width: 180px; 
            }
        }
        
        .accesorios{
            .categorias__texto{
                font-size: 60% ;
            }
            .categorias__img3{
                height: 155px;
                width: 180px;
            }
        }
    }

    main{
        .contacto__titulo{ 
            font-size: 170%;
        }
        .contacto__container{
            flex-direction: column-reverse;
            .contacto__img{
                img{
                    height: 300px;
                    width: 150px;
                }
            }
            .consulta{
                .consulta__titulo{
                    font-size: 115%;
                }
                .contacto__form{
                    font-size: 12px;
                }
            }
        }
    }
}
@media screen and (max-width: 195px){
    main{
        .contacto__titulo{ 
            font-size: 150%;
        }
        .contacto__container{
            flex-direction: column-reverse;
            .contacto__img{
                img{
                    height: 200px;
                    width: 100px;
                }
            }
            .consulta{
                .consulta__titulo{
                    font-size: 100%;
                }
                .contacto__form{
                    font-size: 10px;
                }
            }
        }
    }
}

@media screen and (max-width: 180px){
    .categorias{
        .indumentaria{
            .categorias__texto{
                font-size: 50%;
            }
            .categorias__img1{
            height: 145px;
            width: 160px;
        }
        }
        .calzado{
            .categorias__texto{
                font-size: 50%;
            }
            .categorias__img2{
                height: 145px;
                width: 160px; 
            }
        }
        
        .accesorios{
            .categorias__texto{
                font-size: 50% ;
            }
            .categorias__img3{
                height: 145px;
                width: 160px;
            }
        }
    }
}
@media screen and (max-width: 130px){
    .productos__titulo{ 
        font-size: 50%;
        margin: 5px;
    }
    .productos{
        .producto{
            .productos__texto{
                font-size: 55%;
                margin-top: 10spx;
            }
            .producto__img{
                height: 50px;
                width: 50px;
            }
        }
    }
}